body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

body .light-mode {
  background-color: #fafafa !important;
  color: #070707;
}

body #header {
  padding-top: 15px;
  padding-bottom: 15px;
}

body #header .fa-clock {
  font-size: 40px;
}

body #mainContainer {
  width: 20rem;
  padding-bottom: 2.5rem;
}

body #mainContainer #calculateBtn {
  margin-top: 10px;
  margin-bottom: 5px;
}

body #mainContainer #clockOutDisplay {
  margin-top: 10px;
}

body #footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

/*
.dark-mode {
    background-color: $dark !important;
    color: $light-2;
}

#mode {
    cursor: pointer;
    padding: 0.2rem;
}
*/
